body{
    background-color: aquamarine;
    background-image: url("../../assets/images/daniel-josef-AMssSjUaTY4-unsplash.jpg");
    background-repeat:round;
    color: wheat;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main > a:link{
    text-decoration: none;
}

main > a:visited{
    text-decoration: none;
}

main > a:hover{
    text-decoration: none;
}

main > a:active{
    text-decoration: none;
}

.carousel-caption{
    background: rgba(red, green, blue, 1);
}

.carousel-item::before{
    opacity: 0.5;
}

.col-sm > .container > img{
    max-height: 175px;
    margin: 5px;
}

#about-section .col-sm > .container > img{
    max-height: 500px;
}

#skills-section .row{
    background: rgba(255, 255, 255, 0.25);
}

section{
    border-style: groove;
    border: 10px inset blue;
    /* border-radius: 5%; */
    margin: 10px;
}

#projects-section section::before{
}

#projects-section::before{
    background: rgba(255,255,255,0.5);
}

.projects{
    border-bottom: 5px inset whitesmoke;
}